<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Calora</title>
</head>
<body>
  <nav>
    <a href="/">Home</a>
    <a href="/maintain">Maintenance</a>
  </nav>

  <main>
    {{{body}}}
  </main>

  <footer>
    <hr />
    <p>&copy; 2025 Calora-App | <a href="/impressum">Impressum</a> | <a href="/privacy">Datenschutz</a></p>
  </footer>
</body>
</html>
